.orange { background-color:#F60; color:#000; }
h1 { margin:0; font-size:50px; }
.job { font-size: 50px; font-weight:bold; }
.labor { height:40px; float:left; }
.install { height:10px; }

.container, .container-inactive { border: #CCC 8px solid; margin-bottom:26px; box-shadow: 0 10px 5px #333; }
.container-inactive { border: #666 8px solid; color:#666; }

.quotebar { height:40px; background-color:#444; position:relative; }
.progress {
    color:#000;
    font-size:20px;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
}

.job-id { color:#999;}

/* .blink { animation: doubleflash 4s linear infinite; } */

.fabhr { float: right; margin-right:10px; }

.description {
font-size:20px; padding:0 10px 10px 10px; font-family:"Arial";
}

@keyframes doubleflash {
    0%   { opacity: 1; }
    5%   { opacity: 0; }
    6%   { opacity: 1; }
    10%   { opacity: 0; }
    11%   { opacity: 1; }
    100% { opacity: 1; }
}
table { margin-left:50px; font-size:27px; }
td { text-align:center; width:300px; padding:10px; }
.tag { color:#000; background-color:#FFF; padding:5px; font-size:18px; vertical-align:middle;}
.currentstatus { border: #FFF 3px solid; }

td div {border:#000 1px solid;}

.mono { font-family:"Courier";}
.timeandmaterial .quotebar { background-color: #000;}